.p-fixed-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  & a {
    display: block;
    margin: 10px 8px;
    padding: 10px 10px;
    color: #fff;
    text-decoration: none;
    transition: opacity .3s ease 0s;
    &:hover {
      opacity: .6;
    }
  }
}
